<div class="container mt-5">
  <h2 class="text-center mb-4">User Management System</h2>
  <div class="alert alert-success" role="alert" ng-if="alert">
    {{alertMessage}}
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <form name="userForm">
        <div class="row g-3">
          <div class="col-5">
            <!-- For minlength i search nd i found it not from my mind :) -->
            <input
              type="text"
              name="userName"
              class="form-control"
              placeholder="Name"
              ng-model="user.name"
              ng-minlength="3"
              required
            />
            <div
              class="text-danger small"
              ng-show="userForm.userName.$dirty && userForm.userName.$invalid"
            >
              <span ng-show="userForm.userName.$error.required"
                >Name is required.</span
              >
              <span ng-show="userForm.userName.$error.minlength"
                >Min 3 characters.</span
              >
            </div>
          </div>

          <div class="col-5">
            <input
              type="email"
              name="userEmail"
              class="form-control"
              placeholder="Email Address"
              ng-model="user.email"
              required
            />
            <div
              class="text-danger small"
              ng-show="userForm.userEmail.$dirty && userForm.userEmail.$invalid"
            >
              <span ng-show="userForm.userEmail.$error.required"
                >Email is required.</span
              >
              <span ng-show="userForm.userEmail.$error.email"
                >Invalid email format.</span
              >
            </div>
          </div>

          <div class="col-2">
            <button
              type="submit"
              class="btn btn-success w-100"
              ng-if="!isEdit"
              ng-click="addUser()"
              ng-disabled="userForm.$invalid"
            >
              Add User
            </button>
            <div class="text-center justify-content-center mt-1">
              <button
                type="submit"
                class="btn btn-sm btn-warning"
                ng-if="isEdit"
                ng-click="updateUser(user)"
                ng-disabled="userForm.$invalid"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                ng-if="isEdit"
                ng-click="resetForm()"
              >
                Cancel Edit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in userList track by $index">
            <td>{{ $index + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td class="text-end">
              <button
                class="btn btn-sm btn-outline-warning me-2"
                ng-click="editUser($index)"
              >
                Edit
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                ng-click="deleteUser($index)"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr ng-if="isEmpty">
            <td colspan="4" class="text-center">No users found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
